BasedOnStyle: LLVM

ColumnLimit: 0
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: false
